ion-toolbar {
	--background: var(--ion-color-primary);
	--color: var(--ion-color-primary-contrast);
}

ion-item {
	--detail-icon-font-size: 40px;
}

/*ForRadioOptions*/
.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
   white-space: normal;
}
.alert-tappable.alert-radio {
   height: auto;
   contain: content;
}
/*ForCheckbox*/
.alert-checkbox-label.sc-ion-alert-md,
.alert-checkbox-label.sc-ion-alert-ios {
   white-space: normal;
}
.alert-tappable.alert-checkbox {
   height: auto;
   contain: content;
}